<section class="section">
    <div class="container">
        <h1 class="title">Welcome to Blogspot MVC</h1>
        
        <!-- New Form for Submitting Posts -->
        <div class="box">
            <form id="new-post-form">
                <div class="field">
                    <label class="label" for="postTitle">Title</label>
                    <div class="control">
                        <input class="input" type="text" id="postTitle" name="title" placeholder="Enter post title" required>
                    </div>
                </div>
                <div class="field">
                    <label class="label" for="postContent">Content</label>
                    <div class="control">
                        <textarea class="textarea" id="postContent" name="content" placeholder="Enter post content" required></textarea>
                    </div>
                </div>
                <div class="field">
                    <div class="control">
                        <button type="submit" class="button is-link">Submit Post</button>
                    </div>
                </div>
            </form>
        </div>

        <!-- Existing Posts Display -->
        <div class="posts">
            {{#each posts}}
            <div class="card">
                <header class="card-header">
                    <p class="card-header-title">{{title}}</p>
                </header>
                <div class="card-content">
                    <div class="content">
                        {{content}}
                        <br>
                        <p>Created by: {{user.username}}</p> 
                        <form id="delete-post-form-{{id}}" class="delete-post-form" action="/api/posts/{{id}}" method="DELETE"> 
    <input type="hidden" name="_method" value="DELETE">
    <button type="submit" class="button is-danger delete-post-button">Delete</button>
</form>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
</section>
<script src="/js/remove-post.js"></script>
